html, body {
    font-family: monospace;
    color: black;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    
}

.cream-bg {
    background-color: #FAf0DC;
}

.title {
    margin-top: 10%;
}

.pointer {
    cursor: pointer;
}